<!DOCTYPE html>
<html ng-app="oyster" ng-csp>
  <head>
    <title>Oyster</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="app.css">
  </head>
  <body class="newform">
    <div ng-controller="NewFormCtrl" class="row">
      <div class="small-12 columns">
        <form ng-submit="save()" name="newForm">
          <div class="row">
            <div class="small-12 columns">
              <label>Key
                <input type="text" ng-model="key" />
              </label>
            </div>
          </div>

          <div ng-form="newField" name="newField" ng-repeat="field in fields" class="row">
            <div class="small-6 columns">
              <label>Field
                <input type="text" ng-model="field.name">
              </label>
            </div>
            <div class="small-6 columns">
              <label>Value
                <div class="row collapse">
                  <div class="small-10 columns">
                    <input type="text" ng-model="field.value">
                  </div>
                  <div class="small-2 columns">
                    <button type="button" ng-click="removeField($index)" class="button postfix">&cross;</button>
                  </div>
                </div>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <button type="button" ng-click="addField()" class="button tiny">Add</button>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <button type="submit" class="button">Save</button>
              <button type="button" ng-click="close()" class="button secondary">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
